<div class="container-fluid">
    <div style="margine-top: 50px"></div>
    <hr>
    <p class="text text-secondary">RubJay by ecoSyn @12-2017</p>
    <p class="text text-secondary">Daily expense memo to remind your daily balance.</p>
</div>