<div class="container">
    <h1>About RubJay</h1>
    <p>Daily memo of your expense. App developed by NodeJS/Express/MongoDB/Mongoose/MongoLab/Express-Handlebars. </p>
    <p>Version 1.11.12.17</p>
</div>