<div class="container">
    <h1 class="text-info">About RubJay</h1>
    <p>Daily memo of your expense. App developed by NodeJS/Express/MongoDB/Mongoose/MongoLab/Express-Handlebars. </p>
    <p class="text-secondary">Version 1.11.12.17</p>
</div>