<div class="jumbotron text-center">
    <div class="container-fluid">
        <h1 class="display-3">Daily expense memo</h1>
        <p class="lead">Control your balance By add your daily expense memo</p>
        <a href="/users/register" class="btn btn-dark btn-lg">Register Now</a>
    </div>
</div>