<div class="jumbotron text-center">
    <h1 class="display-3">My Next Video For Youtube Chanel</h1>
    <p class="lead">Ideas for add new video to youtube chanel</p>
    <a href="/video/add" class="btn btn-dark btn-lg">Next Video</a>
</div>